<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="log.base" value="${HFS_HOME}/logs/" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-29(%d{HH:mm:ss.SSS} [%thread]) %-5level - %msg%n</pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
			<level>DEBUG</level>
			<onMatch>DENY</onMatch>
			<onMismatch>ACCEPT</onMismatch>
		</filter>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.base}hfs-main.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}hfs-main.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-36(%d{yyyy-MM-dd HH:mm:ss} [%thread]) %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<logger name="org.lychee" level="DEBUG">
	</logger>

	<root level="INFO">
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</root>
</configuration>
