<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
	<property name="log.base" value="/var/log/mr/" />

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.base}main.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}main.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss} [%thread]) %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<logger name="com.suncreate" level="DEBUG" />
	
	<root level="DEBUG">
		<appender-ref ref="file" />
	</root>
</configuration>
